<%- css('css/resume') %>
<article class="container-resume">
  <header>

  </header>

  <main>
    <div class="information-all">
      <div class="col-6-asb">
        <div class="col-3 peasonal">
          <img class="peasonal-image" src="<%- url_for('images/resume/peason.png') %>" alt="">
        </div>
        <div class="col-9 item">
          <p class="title name">
            <%= theme.resume.name %>
          </p>
          <div class="col-6">
            <p class="phone">
              <%= theme.resume.phone %>
            </p>
            <p class="education">
              <%= theme.resume.education %>
            </p>
          </div>
          <div class="col-6">
            <p class="email">
              <%= theme.resume.email %>
            </p>
            <p class="profession">
              <%= theme.resume.profession %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-6-asb">
        <div class="col-6 ensprience">
          <div class="item">
            <p class="title">
              关于我
            </p>
            <ul>
              <li>2年后台开发、前端实战经验</li>
              <li>发展方向：全栈程序员</li>
            </ul>
          </div>
        </div>
        <div class="col-6 skill">
          <div class="item">
              <p class="title">
                  熟练语言
              </p>
              <div class="lang">
                  <lable>LINUX</lable>
                  <lable>PYTHON</lable>
                  <lable>JQUERY</lable>
                  <lable>HTML</lable>
                  <lable>PHP</lable>
                  <lable>PHOTOSHOP</lable>
              </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="title project">
        <p>项目经验</p>
      </div>
      <div class="project-detail">
        <div class="col-3-abs" id="project-0">
          <div class="project-content"> <img src="<%- url_for('images/resume/LOGO1.png') %>" alt="">
            <p class="project-title">Paxxal后台搭建</p>
            <p class="create-time">2014.8 - 2014.9</p>
            <p class="decription"> 该作品使用了MVC设计模式，SqlServer数据库，Servlet、jquery ajax的技术上制作的一个动态购物网站，实现了在数据库查询出商品显示在页面上，实现了购物车与购买功能，并对数据库进行相应操作。 </p>
          </div>
          <div class="link-to">
            <a href="https://www.baidu.com" class="button">查看DEMO</a>
            <div class="shadow"></div>
          </div>
        </div>
        <div class="col-3-abs" id="project-1">
          <div class="project-content"> <img src="<%- url_for('images/resume/LOGO2.png') %>" alt="">
            <p class="project-title">聊天应用开发</p>
            <p class="create-time">2014.8 - 2014.9</p>
            <p class="decription"> 该作品使用了MVC设计模式，SqlServer数据库，Servlet、jquery ajax的技术上制作的一个动态购物网站，实现了在数据库查询出商品显示在页面上，实现了购物车与购买功能，并对数据库进行相应操作。 </p>
          </div>
          <div class="link-to">
            <a href="https://www.baidu.com" class="button">查看DEMO</a>
            <div class="shadow"></div>
          </div>
        </div>
        <div class="col-3-abs endline" id="project-2">
          <div class="project-content"> <img src="<%- url_for('images/resume/LOGO3.png') %>" alt="">
              <p class="project-title">购物商城前端搭建</p>
              <p class="create-time">2014.8 - 2014.9</p>
              <p class="decription"> 该作品使用了MVC设计模式，SqlServer数据库，Servlet、jquery ajax的技术上制作的一个动态购物网站，实现了在数据库查询出商品显示在页面上，实现了购物车与购买功能，并对数据库进行相应操作。 </p>
          </div>
          <div class="link-to">
            <a href="https://www.baidu.com" class="button">查看DEMO</a>
            <div class="shadow"></div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="img-header">
      <div class="content">
        <p>&lt;title&gt;<strong> ON THE WAY </strong>&lt;/title&gt;</p>
      </div>
    </div>
  </footer>
</article>