<%- css('css/resume') %>
<article class="container-resume">
  <header></header>

  <main>
    <div class="information-all">
      <div class="col-6-asb">
        <div class="col-3 peasonal">
          <img class="peasonal-image" src="<%- url_for('images/resume/peason.png') %>" alt="">
        </div>
        <div class="col-9 item">
          <p class="title name">
            教育经历
          </p>
          <div class="col-7">
            <% for(var i in theme.resume.education) { %>
              <p class="education"><%= theme.resume.education[i].name %></p>
            <% } %>
          </div>
          <div class="col-6">
            <% for(var i in theme.resume.education) { %>
              <p class="profession"><%= theme.resume.education[i].profession %></p>
            <% } %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-6-asb">
        <div class="col-6 ensprience">
          <div class="item">
            <p class="title">
              发展方向
            </p>
            <ul>
              <% var direction = theme.resume.direction.split(',') %>
              <% for(var i in direction) { %>
                <li><%- direction[i] %></li>
              <% } %>
            </ul>
          </div>
        </div>
        <div class="col-6 skill">
          <div class="item">
              <p class="title">
                  熟练语言
              </p>
              <div class="lang">
                <% var proficiency = theme.resume.proficiency.split(',') %>
                <% for(var i in proficiency) { %>
                  <label><%- proficiency[i] %></label>
                <% } %>
              </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="title project">
        <p>项目经验</p>
      </div>
      <div class="project-detail">
        <% var index = 0 %>
        <% for(var i in theme.resume.project) { %>
          <div class="col-3-abs" id="project-<%- index %>">
            <div class="project-content"> <img class="project-detail-img" src="<%- url_for('images/resume/LOGO' + index + '.png') %>" alt="">
              <p class="project-title"><%- theme.resume.project[i].title %></p>
              <p class="create-time"><%- theme.resume.project[i].time %></p>
              <p class="decription"><%- theme.resume.project[i].decription %></p>
            </div>
          </div>
          <% index++ %>
        <% } %>
      </div>
    </section>

    <section>
      <div class="title work">
        <p>工作经历</p>
      </div>
      <div class="w-experience-detail">
        <div class="item w-experience-content">
          <div class="logo">
            <img class="company-logo" src="<%- url_for('images/resume/LOGO4.png') %>" alt="">
          </div>
          <div class="work-content">
            <p class="create-time">2017.8 - 至今</p>
            <p class="job">Python 程序开发 | 成都一石数字有限公司</p>
            <ul>
              <li>基于 Django 框架设计规划人脸识别安防监控产品后端整体架构，开发安防平台后端所需的人脸检索、监控告警、消息推送、权限管理等各个功能</li>
              <li>搭建基于 Vue 后台管理的前端开发框架，完善权限路由、动态响应、ESlint 代码规范等前端基础功能</li>
              <li>维护公司的Git版本管理系统，应用Docker技术搭建公司的持续集成系统，优化和完善了公司的代码管理及开发流程</li>
              <li>协助公司算法开发人员解决人脸识别算法模块开发过程中遇到的相关问题</li>
            </ul>
          </div>
        </div>

        <div class="item w-experience-content">
          <div class="logo">
            <img class="company-logo" src="<%- url_for('images/resume/LOGO4.png') %>" alt="">
          </div>
          <div class="work-content">
            <p class="create-time">2016.4 - 2017.6</p>
            <p class="job">Linux 程序开发 | 中软国际有限公司</p>
            <ul>
              <li>独立开发了华为 OceanStor 9000 海量存储系统中基于 Python webPy 的账户自动化回收系统，通过 Restful API 对系统中多个管控不同模块的账户进行自动化回收。</li>
              <li>参与华为 OceanStor 9000 海量存储系统大数据模块的日常维护，设计和开发基于 Python 和 shell 的运维脚本</li>
              <li>参与华为 OceanStor 9000 海量存储系统底层的 Linux C 程序开发和单元测试代码编写工作</li>
            </ul>
          </div>
        </div>

        <div class="item w-experience-content">
          <div class="logo">
            <img class="company-logo" src="<%- url_for('images/resume/LOGO5.png') %>" alt="">
          </div>
          <div class="work-content">
            <p class="create-time">2014.9 - 2016.4</p>
            <p class="job">Linux 嵌入式开发 | 四川金网通电子科技公司</p>
            <ul>
              <li>参与公司基于海思、博通等芯片的 Linux C 程序机顶盒的功能设计及软件编写工作</li>
              <li>为机顶盒移植各个CA加密系统并通过CA厂商的认证，独立参与了永新视博CA系统的机顶盒移植和认证</li>
              <li>协助各地的场测人员解决产品测试中出现各类机顶盒相关软件问题，直至通过当地的测试要求</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <section>
      <div class="title about-me">
        <p>联系我</p>
      </div>
      <div class="peasonal-message">
        <p class="email" ><i class="icon icon-email" ></i> &nbsp;&nbsp;<%= theme.resume.email %></p>
      </div>
    </section>
    <div class="img-header">
      <div class="content">
        <p>&lt;title&gt;<strong> ON THE WAY </strong>&lt;/title&gt;</p>
      </div>
    </div>
  </footer>
</article>